*{
	margin : 0 auto;
	font-family: calibri;
	font-size : 15px;	
}

#header{
	text-align: center;
}

#container{
	padding : 30px 0 0 0;
	width : 420px;
}

.tileContainer{
	height : 120px;
	width: 120px;
	float: left;
	margin: 10px;
	text-align : center;
}

.tileImg{
	display: none;
	max-height: 120px;
	max-width: 120px;
}

.tileBackground{
	height : 120px;
	width : 120px;
	background-color: #69B5D9;
	border: 1px solid #306ABA;
	cursor: pointer;
}

.tilePhrase{
	display : none;
	height : 65%;
	width : 122px;
	padding : 35% 0 0 0;
	text-align : center;
}

#messageDiv{
	display : none;
	height : 28px;
	width : 350px;
	line-height : 28px;
	text-align : center;
	border: 1px solid #ccc;
	background-color: #eee;
}

#disableDiv{
	display : none;
	height: 100%;
	width: 100%;
	position : fixed;
	left : 0;
	top : 0;
	background-color: rgba(0,0,0,0.2);
}

.completeMsg{
	display : none;
	height: 100px;
	width: 300px;
	position : fixed;
	left : 50%;
	top : 50%;
	margin : -50px 0 0 -150px;
	text-align : center; 
	background-color: #eee;
	border: 2px solid #ccc;
}

#playAgain{
	height : 30px;
	width : 100px;
	line-height: 30px;
	margin : 35px auto 0;
	background-color: #ccc;
	border: 1px solid #555;
	cursor: pointer;
}

.CompleteText{
	display: inline-block;
    padding: 5px 0 0;
}	