*{
	margin : 0 auto;	
}

#header{
	font-family: calibri;
	font-size : 15px;
	text-align: center;
}

#container{
	border : 1px solid;
	height : 300px;
	width : 500px;
}

.tileContainer{
	height : 200px;
	width: 200px;
	float: left;
	margin: 20px;
}

.tileImg{
	max-height: 200px;
	max-width: 200px;
}