<!DOCTYPE html>
<html>
    <head>
        <title>Memory Puzzle</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/lib/jquery_1.10.2-min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
    </head>
    <body class="pageBg">
		<script id="tileTemplate" type="text/template">
	    	<div class="tileBackground" flag="false"></div>
	    	<div class="tilePhrase"><%= phrase %></div>
			<img class="tileImg" src="<%= image %>" alt="<%= phrase %>"/>
		</script>

		<div id="header">Find matching tiles as quickly as you can!</div>
		<div id="counter"></div>
		<div id="container"></div>
		<div id="popup" class="completeMsg">
			<span class="CompleteText">Good Job!</span>
			<span id="totalMoves"></span>
			<div id="playAgain">Play Again</div>
		</div>
		<div id="messageDiv"></div>
		<div id="disableDiv"></div>	

		<!-- Load Views,Collection and Models -->			
        <script src="js/models/memoryTile.js"></script>
        <script src="js/collections/memoryTileCollection.js"></script>
        <script src="js/views/tileView.js"></script>
        <script src="js/views/mainView.js"></script>
        <script src="js/app.js"></script>
	</body>
</html>