<!DOCTYPE html>
<html>
    <head>
        <title>Memory Puzzle</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
    </head>
    <body>
		<script id="tileTemplate" type="text/template">
	    	<img class="tileImg" src="<%= image %>"/>
			<input class="" type="hidden" value="<%= phrase %>" >
		</script>

		<div id="header">Find matching tiles as quickly as you can!</div>
		<div id="container"></div>

        <script src="js/models/memoryTile.js"></script>
        <script src="js/collections/memoryTileCollection.js"></script>
        <script src="js/views/tileView.js"></script>
        <script src="js/views/mainView.js"></script>
        <script src="js/app.js"></script>
</body>
</html>